@using HelperSharp;
@using System.Web.Mvc;
@model DevAchievements.Domain.Developer

@section Scripts{
	<script type="text/javascript" src="~/Scripts/Views/Developer/Create.js"></script>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @role="form" })) {
	@(Html.FluentUI()
		.Hidden("Key")
			.Value(Model.Key)
		
		.Hidden("Token")
			.Value(TempData["token"])

		.TextBox("Username")
			.Label("Username")
			.Value(Model.Username)
	
		.TextBox("FullName")
			.Label("Full name")
			.Value(Model.FullName)

		.TextBox("Email")
			.Label("E-mail")
			.Value(Model.Email)
			.Gravatar()
				.Class("dev-avatar")
				.OnBlur()
				.OnReady()
	 )

	for(var i = 0; i < Model.AccountsAtIssuers.Count; i++)
    {
    	var account = Model.AccountsAtIssuers[i];
    	<div>
    	@(Html.FluentUI()
    		.TextBox("AccountsAtIssuers[{0}].Username", i)
    			.Label(account.IssuerName)
    			.Placeholder("{0} username", account.IssuerName)
    			.Value(account.Username)
    		
    		.Hidden("AccountsAtIssuers[{0}].IssuerName", i)
    			.Value(account.IssuerName)
    	)
    	</div>
    }
	
	@(Html.FluentUI()
		.Button("save-button")
			.Label("Save")
	)
}