src/DevAchievements.Domain.UnitTests/test-results/
src/DevAchievements.Infrastructure.AchievementProviders.FunctionalTests/test-results/
src/DevAchievements.WebApp/log.txt
src/DevAchievements.userprefs
src/DevAchievements.WebApp/log.txt.2
src/DevAchievements.WebApp/log.txt.6
src/DevAchievements.WebApp/log.txt.3
src/DevAchievements.WebApp/log.txt.4
db
