src/DevAchievements.Domain.UnitTests/test-results/
src/DevAchievements.Infrastructure.AchievementProviders.FunctionalTests/test-results/
src/DevAchievements.WebApp/log.txt
src/DevAchievements.userprefs
