.issuer-logo 
{
	max-width: 128px;
	max-height: 64px;
}

.dev-avatar 
{
	margin:20px;
}

.achievement-stat-chart
{
	min-height: 100px;
}
	
.achievement-value-down 
{
	background-color: red;
}

.achievement-value-up 
{
	background-color: green;
}

.achievement-value-stable 
{
	background-color: BurlyWood;
}