@model string
@using HelperSharp
<div class="text-center">
@using(Html.BeginForm("Create", "Developer", FormMethod.Get)) {
	@(Html.FluentUI()
		.Hidden("username")
			.Value(@Model)

		.Button("create-account")
			.Label("Create your account{0}", 
						String.IsNullOrWhiteSpace(@Model) 
						? "" 
						: "<br>({0})".With(@Model))
	)
}
</div>