<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/Bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/Bootstrap/css/bootstrap.min.css" />
      <link rel="stylesheet" href="~/Content/Site.css" />
    <title>DevAchievements</title>
</head>
<body>
    <div class="container">
		@RenderBody()
	</div>
</body>
</html>