<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/Scripts/Bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/Bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/Scripts/DataTables/css/dataTables.bootstrap.css" />
    <link rel="stylesheet/less" type="text/css" href="~/Content/Site.less" />
    <link rel="stylesheet" href="~/Scripts/openid-selector/css/openid.css" />
    <link rel="stylesheet" href="~/Scripts/openid-selector/css/openid-shadow.css" />

    <script type="text/javascript" src="~/api/proxies"></script>


    <script type="text/javascript" src="~/Scripts/DataTables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/Globalization/Globalization.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/Globalization/Globalizations.en.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/MessageBox/MessageBox.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/StringExtensions.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/Tip.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/Validation.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/Hint.js"></script>
    <script type="text/javascript" src="~/Scripts/charCount/charCount.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/Grid/Grid.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/App.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/Ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/jQuery-Gravatar/md5.js"></script>
    <script type="text/javascript" src="~/Scripts/jQuery-Gravatar/jquery.gravatar.js"></script>
    <script type="text/javascript" src="~/Scripts/openid-selector/js/openid-jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/openid-selector/js/openid-en.js"></script>
 
    @RenderSection("Scripts", false)

     <script type="text/javascript" src="~/Scripts/less-1.5.0.min.js"></script>
    <title>DevAchievements</title>
</head>
<body>
    @{ Html.RenderPartial("_Header"); }
    <div id="wrapper">       
        <div id="content" class="container">
             @RenderBody()
        </div>
    </div>
</body>
</html>