<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/Scripts/Bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/Bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script type="text/javascript" src="~/api/proxies"></script>
    <script type="text/javascript" src="~/Scripts/Framework/App.js"></script>
    <script type="text/javascript" src="~/Scripts/Framework/Ajax.js"></script>

    @RenderSection("Scripts", false)
    <title>DevAchievements</title>
</head>
<body>
    <div class="container">
		@RenderBody()
	</div>
</body>
</html>