<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
    <add xdt:Transform="Replace" key="MONGOLAB_URI" value="mongodb://appharbor_9b3c3bc7-918a-4320-ac5a-87a5dc693ca6:qv92t0iri091do4ps5bm3hur9m@ds053808.mongolab.com:53808/appharbor_9b3c3bc7-918a-4320-ac5a-87a5dc693ca6" />
  </appSettings>

   <log4net>
    <root>
      <appender-ref ref="LeAppender" />
    </root>
  </log4net>
   
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <clear />
          <add xdt:Transform="Replace" name="HomeControllerIndex" duration="3600" varyByParam="*" location="Server" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
</configuration>